
/* CSS Loader */

.overlay{

 display: none;

 position: fixed;

 width: 100%;

 height: 100%;

 background: #fff;

 z-index: 10;

 opacity: 0.7;

}

.loader{

 width: 150px;

 height: 150px;

 border-radius: 50%;

 border:10px solid #333;

 positon: relative;

 margin: 0 auto;

 top: 30%;

 animation:loader 2s linear infinite;

}

@keyframes loader{

 50%{

  opacity: 0.5;

 }

 100% {

  transform:rotate(360deg);

 }

}

.loader:after{

 content: "";

 width: 35px;

 height: 35px;

 background: absolute;

 position: absolute;

 border-radius: 50%;

 top: -10px;

 left: 39px;

}

.loader:before{

 content:"";

 width: 0;

 height: 0;

 border-left: 15px solid transparent;

 border-right: 15px solid transparent;

 border-bottom: 15px solid #333;

 position: absolute;

 transform: rotate(-90deg);

 top: -10px;

 left: 39px;



}
